service: go-api

provider:
  name: aws
  runtime: go1.x
  region: eu-west-2
  stage: ${opt:stage, 'dev'}

functions:
  api:
    handler: bin/main
    events:
      - httpApi: '*'
    environment:
      PORT: 8080
      COMPUTE_TYPE: lambda
    memorySize: 512
    timeout: 30

package:
  individually: true
  patterns:
    - '!./**'
    - './bin/main'

plugins:
  - serverless-localstack

custom:
  localstack:
    stages:
      - local
    host: http://localhost
    edgePort: 4566
    autostart: false
